<div>
    {% if user.is_superuser %}
        <a href="/"><< Return</a>
    {% endif %}
    <a href="{% url 'logout' %}">Log Out</a>
</div>

<h2 style="color: white">You are: <span style="color: yellow;">{{ user.username }}</span></h2>
<h2 style="color: white">Chatting with: <span style="color: yellow;">{{ reciever.username }}</span></h2>
<section class="chatbox">
    <section class="chat-window">
        {% for message in messages %}
            {% if message.sender == user %}
              <article class="msg-container msg-self" id="msg-0">
                <div class="msg-box">
                  <div class="flr">
                    <div class="messages">
                      <p class="msg" id="msg-1">
                        {{ message.text }}
                      </p>
                    </div>
                    <span class="timestamp"><span class="username">You</span>&bull;<span class="posttime">{{ message.created_at.time }}</span></span>
                  </div>
                  <img class="user-img" id="user-0" src="//gravatar.com/avatar/56234674574535734573000000000001?d=retro" />
                </div>
                <div class="msg-box msg-box-x">
                    X
                </div>
              </article>
            {% else %}
              <article class="msg-container msg-remote" id="msg-0">
                <div class="msg-box">
                  <img class="user-img" id="user-0" src="//gravatar.com/avatar/00034587632094500000000000000000?d=retro" />
                  <div class="flr">
                    <div class="messages">
                      <p class="msg" id="msg-0">
                        {{ message.text }}
                      </p>
                    </div>
                    <span class="timestamp"><span class="username">{{ message.sender.username }}</span>&bull;<span class="posttime">{{ message.created_at.time }}</span></span>
                  </div>
                </div>
              </article>
            {% endif %}
        {% endfor %}
    </section>
    <form method="post" class="chat-input" >
        {% csrf_token %}
        <input type="text" name="text" id="id_text" autocomplete="on" placeholder="Type a message" required />
        <button type="submit">Send</button>
    </form>
</section>

<script type="text/javascript">

document.addEventListener("DOMContentLoaded", function() {
    // Select the chat-window element
    const chatWindow = document.querySelector('.chat-window');
    chatWindow.scrollTop = chatWindow.scrollHeight;

    // Define a function to display messages
    function displayMessages(messages) {
      // Clear the existing messages from the chat-window
      chatWindow.innerHTML = '';

      messages = JSON.parse(messages);
      // Loop through the messages and add them to the chat-window
      messages.forEach(message => {
        const article = document.createElement('article');
        article.classList.add('msg-container');
        article.id = `msg-${message.id}`;

        const divMsgBox = document.createElement('div');
        divMsgBox.classList.add('msg-box');

        const imgUser = document.createElement('img');
        imgUser.classList.add('user-img');
        imgUser.id = `user-${message.sender_id}`;
        if (message.sender === "{{ user.username }}") {
            imgUser.src = `//gravatar.com/avatar/56234674574535734573000000000001?d=retro`;
        } else {
            imgUser.src = `//gravatar.com/avatar/00034587632094500000000000000000?d=retro`;
        }

        const divFlr = document.createElement('div');
        divFlr.classList.add('flr');

        const divMessages = document.createElement('div');
        divMessages.classList.add('messages');

        const pMsg = document.createElement('p');
        pMsg.classList.add('msg');
        pMsg.id = `msg-${message.id}`;
        pMsg.textContent = message.text;

        divMessages.appendChild(pMsg);

        const spanTimestamp = document.createElement('span');
        spanTimestamp.classList.add('timestamp');

        const spanUsername = document.createElement('span');
        spanUsername.classList.add('username');
        spanUsername.textContent = message.sender;

        const spanBull = document.createElement('span');
        spanBull.textContent = '•';

        const spanPosttime = document.createElement('span');
        spanPosttime.classList.add('posttime');
        spanPosttime.textContent = message.created_at;

        spanTimestamp.appendChild(spanUsername);
        spanTimestamp.appendChild(spanBull);
        spanTimestamp.appendChild(spanPosttime);

        divFlr.appendChild(divMessages);
        divFlr.appendChild(spanTimestamp);

        divMsgBox.appendChild(imgUser);
        divMsgBox.appendChild(divFlr);

        article.appendChild(divMsgBox);
        if (message.sender === "{{ user.username }}") {
            article.classList.add('msg-self');
        } else {
            article.classList.add('msg-remote');
        }

        // Add a click event listener to the msg-box-x div to send a DELETE request to the server
        const divMsgBoxX = document.createElement('div');
        divMsgBoxX.classList.add('msg-box-x');
        divMsgBoxX.classList.add('msg-box');
        divMsgBoxX.textContent = 'X';
        divMsgBoxX.addEventListener('click', () => {
            fetch(`/delete/${message.id}/`)
              .then(response => response.json())
              .then(data => {
                  console.log('Message deleted:', data);
              })
              .catch(error => {
                  console.error('Error deleting message:', error);
              });
        });

        if (message.sender === "{{ user.username }}")
            article.appendChild(divMsgBoxX);
        chatWindow.appendChild(article);
      });
      if (sessionStorage.getItem('total') != messages.length)
        chatWindow.scrollTop = chatWindow.scrollHeight;

      sessionStorage.setItem('total', messages.length);
    }

    // Define a function to fetch messages from the endpoint
    function fetchMessages() {
      fetch('/messages?reciever_id={{ reciever.id }}')
        .then(response => response.json())
        .then(data => {
            displayMessages(data);
        })
        .catch(error => {
            console.error('Error fetching messages:', error);
        });
    }

    // Call the fetchMessages function initially to display any existing messages
    fetchMessages();

    // Set an interval to fetch messages every 5 seconds
    setInterval(fetchMessages, 1000);
});
</script>

<style>
    a {
        color: white;
    }
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: #1c1e22;
    }
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    ::-webkit-scrollbar {
        width: 4px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #4c4c6a;
        border-radius: 2px;
    }
    a {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        border: 2px solid #008CBA;
        background-color: #008CBA;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    a:hover {
        background-color: #fff;
        color: #008CBA;
        cursor: pointer;
    }
    .chatbox {
        width: 300px;
        height: 400px;
        max-height: 400px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    }
    .chat-window {
        flex: auto;
        max-height: calc(100% - 60px);
        background: #2f323b;
        overflow: auto;
    }
    .chat-input {
        flex: 0 0 auto;
        height: 60px;
        background: #40434e;
        border-top: 1px solid #2671ff;
        box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    }
    .chat-input input {
        height: 59px;
        line-height: 60px;
        outline: 0 none;
        border: none;
        width: calc(100% - 60px);
        color: white;
        text-indent: 10px;
        font-size: 12pt;
        padding: 0;
        background: #40434e;
    }
    .chat-input button {
        float: right;
        outline: 0 none;
        border: none;
        background: rgba(255,255,255,.25);
        height: 40px;
        width: 40px;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        padding: 2px 0 0 0;
        margin: 10px;
        transition: all 0.15s ease-in-out;
    }
    .chat-input input[good] + button {
        box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
        background: #2671ff;
    }
    .chat-input input[good] + button:hover {
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .chat-input input[good] + button path {
        fill: white;
    }
    .msg-container {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0 0 10px 0;
        padding: 0;
    }
    .msg-box {
        display: flex;
        background: #5b5e6c;
        padding: 10px 10px 0 10px;
        border-radius: 0 0 6px 0;
        max-width: 80%;
        width: auto;
        float: left;
        box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    }
    .msg-box-x {
        box-shadow: none;
        padding-bottom: 7px;
        cursor: pointer;
    }
    .msg-box-x:hover {
        color: cyan;
    }
    .user-img {
        display: inline-block;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background: #2671ff;
        margin: 0 10px 10px 0;
    }
    .flr {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        width: calc(100% - 50px);
    }
    .messages {
        flex: 1 0 auto;
    }
    .msg {
        display: inline-block;
        font-size: 11pt;
        line-height: 13pt;
        color: rgba(255,255,255,.7);
        margin: 0 0 4px 0;
    }
    .msg:first-of-type {
        margin-top: 8px;
    }
    .timestamp {
        color: rgba(0,0,0,.38);
        font-size: 8pt;
        margin-bottom: 10px;
    }
    .username {
        margin-right: 3px;
    }
    .posttime {
        margin-left: 3px;
    }
    .msg-self .msg-box {
        border-radius: 0 0 0 6px;
        background: #2671ff;
        float: right;
    }
    .msg-self .user-img {
        margin: 0 0 10px 10px;
    }
    .msg-self .msg {
        text-align: right;
    }
    .msg-self .timestamp {
        text-align: right;
    }
</style>