<h2 style="text-align: center">Log In / <a href="{% url 'signup' %}">Sign Up</a></h2>
<form method="post">
  {% csrf_token %}
  <div>
    <label style="padding-right: 55px" for="id_username">Username:</label>
    {{ form.username }}
    {% if form.username.errors %}
      <div class="errorlist">
        {% for error in form.username.errors %}
          <div>{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <div>
    <label style="padding-right: 57px" for="id_password">Password:</label>
    {{ form.password }}
    {% if form.password.errors %}
      <div class="errorlist">
        {% for error in form.password.errors %}
          <div>{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <button type="submit">Log In</button>
</form>
<p></p>

<style>
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
label {
  margin-right: 10px;
}
input[type="text"], input[type="password"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 250px;
  margin-bottom: 10px;
}
button[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #3e8e41;
}
.errorlist {
  color: red;
  margin-bottom: 10px;
}
</style>
